<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.harris.infra.mapper.BucketMapper">
    <sql id="ALL_COLUMNS">
        item_id,
        total_stock_amount,
        available_stock_amount,
        status,
        serial_no,
        modified_time,
        create_time
    </sql>

    <select id="getBucketsByItemId" resultType="com.harris.infra.model.BucketDO"
            parameterType="java.lang.Long">
        SELECT *
        FROM sale_bucket
        WHERE item_id = #{itemId}
    </select>

    <insert id="insertBuckets">
        INSERT INTO sale_bucket(
        item_id,
        total_stock_amount,
        available_stock_amount,
        status,
        serial_no,
        modified_time,
        create_time)
        VALUES
        <foreach collection="list" item="bucket" separator=",">
            (
            #{bucket.itemId,jdbcType=BIGINT},
            #{bucket.totalStock,jdbcType=INTEGER},
            #{bucket.availableStock,jdbcType=INTEGER},
            #{bucket.status,jdbcType=INTEGER},
            #{bucket.serialNo,jdbcType=INTEGER},
            now(),
            now())
        </foreach>
    </insert>

    <update id="updateBucketStatusByItemId">
        UPDATE sale_bucket
        SET modified_time = now(),
            status        = #{status}
        WHERE item_id = #{itemId}
    </update>

    <update id="deleteBucketByItemId">
        DELETE
        FROM sale_bucket
        WHERE item_id = #{itemId}
    </update>

    <update id="reduceStockByItemId">
        UPDATE sale_bucket
        SET modified_time           = now(),
            available_stock_amount = available_stock_amount - #{quantity}
        where item_id = #{itemId}
          and serial_no = #{serialNo}
          and available_stock_amount <![CDATA[ >= ]]>  #{quantity}
          and status = 1
    </update>

    <update id="addStockByItemId">
        UPDATE sale_bucket
        SET modified_time           = now(),
            available_stock_amount = available_stock_amount + #{quantity}
        where item_id = #{itemId}
          and serial_no = #{serialNo}
          and (available_stock_amount + #{quantity}) <![CDATA[ <= ]]> total_stock_amount
          and status = 1
    </update>
</mapper>
