<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.harris.infra.mapper.SaleActivityMapper">
    <sql id="ALL_COLUMNS">
        id,
        activity_name,
        activity_desc,
        status,
        start_time,
        end_time,
        modified_time,
        create_time
    </sql>

    <select id="getActivityById" resultType="com.harris.infra.model.SaleActivityDO" parameterType="java.lang.Long">
        SELECT *
        FROM sale_activity
        WHERE id = #{activityId}
    </select>

    <select id="getActivitiesByCondition" resultType="com.harris.infra.model.SaleActivityDO">
        SELECT * FROM sale_activity WHERE 1=1
        <if test="keyword != null">
            AND activity_name LIKE concat("%",concat(#{keyword},"%"))
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY id DESC
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countActivitiesByCondition" resultType="java.lang.Integer">
        SELECT count(*) FROM sale_activity WHERE 1=1
        <if test="keyword != null">
            AND activity_name LIKE concat("%",concat(#{keyword},"%"))
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>

    <insert id="insertActivity" parameterType="com.harris.infra.model.SaleActivityDO" useGeneratedKeys="true"
            keyProperty="saleActivityDO.id">
        INSERT INTO sale_activity (
        <include refid="ALL_COLUMNS"/>
        ) VALUES (
        null,
        #{activityName,jdbcType=VARCHAR},
        #{activityDesc,jdbcType=LONGVARCHAR},
        #{status,jdbcType=INTEGER},
        #{startTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP},
        now(),
        now()
        )
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <update id="updateActivity" parameterType="com.harris.infra.model.SaleActivityDO">
        UPDATE sale_activity SET modified_time = now()
        <if test="activityName != null">
            ,`activity_name` = #{activityName,jdbcType=VARCHAR}
        </if>
        <if test="startTime != null">
            ,`start_time` = #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            ,`end_time` = #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null">
            ,`status` = #{status,jdbcType=INTEGER}
        </if>
        <if test="activityDesc != null">
            ,`activity_desc` = #{activityDesc,jdbcType=LONGVARCHAR}
        </if>
        where id = #{id}
    </update>
</mapper>
