<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanfei.flashsales.mapper.CommodityMapper">

    <sql id="base">
        commodity_id, commodity_name, commodity_price, commodity_detail, commodity_img
    </sql>

    <insert id="insertCommodity">
        insert into fs_commodity (commodity_name, commodity_price, commodity_detail, commodity_img)
        values (#{commodityName}, #{commodityPrice}, #{commodityDetail}, #{commodityImg})
    </insert>

    <select id="selectCommodityById" resultType="com.hanfei.flashsales.pojo.Commodity">
        select
        <include refid="base"/>
        from fs_commodity
        where commodity_id = #{commodityId}
    </select>
</mapper>
